package main

import (
	"io"
	"net/http"

	"github.com/gorilla/mux"
)

{{range .Models}}
type {{.Name}} struct {
}
{{end}}

{{range .Endpoints}}
{{.HandlerDefinition}}
{{end}}

func main() {
	r := mux.NewRouter()
	{{range .Endpoints}}
	r.HandleFunc("{{.URL}}", {{.HandlerName}}).Methods("{{.Method}}"){{end}}

	http.ListenAndServe(":8080", r)
}

