package main

import (
	"io"
	"net/http"

	"github.com/gorilla/mux"
)

{{range .Models}}
type {{.Name}} struct {
}

{{range .Endpoints}}
{{.HandlerDefinition}}
{{end}}

func Bind{{.Name}}Handlers(router *mux.Router) {
{{range .Endpoints}}
	router.HandleFunc(
		"{{.URL}}",
		{{.HandlerName}},
	).Methods("{{.Method}}")
{{end}}
}
{{end}}

func main() {
	router := mux.NewRouter()
{{range .Models}}
	Bind{{.Name}}Handlers(router){{end}}

	http.ListenAndServe(":8080", router)
}

