{{define "HandlerFunction"}}
func {{.HandlerName}}(w http.ResponseWriter, req *http.Request) {
{{if gt (len .Vars) 0}}vars := mux.Vars(req){{end}}
{{if .RequiresModel }}{{$Constructor := .Model.ConstructorForEndpoint .}}
	model, err := {{$Constructor.Name}}({{range $Constructor.Arguments}}
	vars["{{.}}"],
	{{end}}
	)
	if err != nil {
		JSONResponse(w, 500, HTTPError{Message:fmt.Sprintf("%v", err)})
	}
{{end}}
{{if eq .Method "GET"}}
	JSONResponse(w, 200, model)
{{else}}
	{{if .RequiresModel}}fmt.Println(model){{end}}
	io.WriteString(w, "hello from {{.HandlerName}}\n")
{{end}}
}
{{end}}
