# Requirements

   - [Go](http://golang.org/dl/)

# Usage

First off you will need to build the project:

```
$ make
```

Start the API on 8080:

```
$ ./{{.Project.Name}}
```

Or, start on a port of your choosing:

```
$ ./{{.Project.Name}} --port=4567
```
